---
import dayjs from "dayjs"
import MainLayoutAstro from "../layouts/main.layout.astro"
import { sortByDateDesc } from "../lib/helpers.lib"

import * as main from "../content/articles/main.md"
const { title, description, keywords } = main.frontmatter

const articlePosts = await Astro.glob("./posts/*.md")
articlePosts.sort((a: any, b: any) => sortByDateDesc(a, b))
---
<MainLayoutAstro description={description} keywords={keywords}>
    <section id="home-articles" class="section section-half section-articles-hero">
        <div class="wrapper section__wrapper | flow mx-auto p-4">
          <h1 class="section-article-home__heading | text-5xl font-bold text-neutral-50 uppercase">
            {title}
          </h1>
        </div>
        <!-- ./wrapper -->
    </section>

    <section
        id="articles-content"
        class="section section-articles section-articles-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <p><strong>Disclaimer:</strong> I am by no means the smartest or most updated person in the technology industry. All these articles are written my me to the best of my ability and knowledge as a web developer for 8+ years. My purpose of writing these articles is to inform laypeople of what's going on in the industry and how to stay safe online. Don't take my word for it and do do your own research too. I use ChatGPT and Grammarly to help me proof-read the content and generate the meta description and keywords.</p>

          <div class="cards-grid">
            {articlePosts.map(({ url, frontmatter }: any) => {
              const { title, images } = frontmatter
              let imgEl = null
              if (images && images.length > 0) {
                const image: any = images.length > 0 ? images[0] : null
                imgEl = (
                  <img
                    src={`/screenshots/posts/${image.url}`}
                    alt={image.alt}
                    class="card__img"
                  />
                )
              }
              
              return (
                <>
                  <div class="card">
                    {imgEl}
                    <div class="card__overlay | flow">
                      <header class="card__overlay__header">
                        <h3 class="card__overlay__heading">
                          <a href={url}>{title}</a>
                        </h3>
                      </header>
                    </div>
                  </div><!-- ./card -->
                </>
              )
            })}
            
          </div><!-- ./card-grid -->
        </div>
        <!-- ./wrapper -->
    </section>
</MainLayoutAstro>