---
import dayjs from "dayjs"
import MainLayoutAstro from "../layouts/main.layout.astro"
import { sortByDateDesc } from "../lib/helpers.lib"

import * as main from "../content/pages/articles.md"
const { title } = main.frontmatter

const articlePosts = await Astro.glob("./posts/*.md")
articlePosts.sort((a: any, b: any) => sortByDateDesc(a, b))
---
<MainLayoutAstro>
    <section id="home-articles" class="section section-half section-articles-hero">
        <div class="wrapper section__wrapper | flow mx-auto p-4">
          <h1 class="section-article-home__heading | text-5xl font-bold text-neutral-50 uppercase">
            {title}
          </h1>
        </div>
        <!-- ./wrapper -->
    </section>

    <section
        id="articles-content"
        class="section section-articles section-articles-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <div class="cards-grid">
            {articlePosts.map(({ url, frontmatter }: any) => {
              const { title, images } = frontmatter
              const image: any = images.length > 0 ? images[0] : null
              return (
                <>
                  <div class="card">
                    <img
                      src={`/screenshots/posts/${image.url}`}
                      alt={image.alt}
                      class="card__img"
                    />
                    <div class="card__overlay | flow">
                      <header class="card__overlay__header">
                        <h3 class="card__overlay__heading">
                          <a href={url}>{title}</a>
                        </h3>
                      </header>
                    </div>
                  </div><!-- ./card -->
                </>
              )
            })}
            
          </div><!-- ./card-grid -->
        </div>
        <!-- ./wrapper -->
    </section>
</MainLayoutAstro>