---
import MainLayoutAstro from "../layouts/main.layout.astro"
import * as contact from "../content/contact/main.md"
const { title, description, keywords, reachOut } = contact.frontmatter

// const { NODE_ENV, API_URL, PUBLIC_APP_SLUG } = import.meta.env

// const response = await fetch(`${API_URL}misc/messageTypes/${PUBLIC_APP_SLUG}/`)
// const data = await response.json()
// const { messageTypes } = data
---
<MainLayoutAstro title={title} description={description} keywords={keywords}>
  <section
  id="contact-hero"
  class="section section-half section-contact section-contact-hero"
>
    <div class="wrapper section__wrapper | mx-auto p-4">
      <h1
        class="section-hero-home__heading | text-5xl font-bold text-neutral-50 uppercase"
      >
        {title}
      </h1>
    </div>
    <!-- ./wrapper -->
  </section>

  <section
    id="contact-content"
    class="section section-half section-contact section-contact-content"
  >
    <div class="wrapper section__wrapper | mx-auto p-4 flow">
      <p class="text-center">Reach out to me on <a href={reachOut} target="_blank">LinkedIn</a> for a chat or to report any technical issues.</p>
    </div>
    <!-- ./wrapper -->
  </section>
</MainLayoutAstro>