---
import MainLayoutAstro from "../layouts/main.layout.astro"

import * as index from "../content/index/main.md"
import * as portfolio from "../content/portfolio/main.md"
import { sortPostsDesc } from "../lib/helpers.lib"
import type { ImageInterface } from "../lib/interfaces.lib"
const { title, subtitle, slogan, skills, featured, talks, social } = index.frontmatter
const { categories } = portfolio.frontmatter

const skillPosts = await Astro.glob("../content/skills/*.md")

const projectPosts = await Astro.glob("./projects/*.md")
const featuredPosts = sortPostsDesc(projectPosts.filter(({ frontmatter }: any) => frontmatter.featured), "date")
const selectedFeaturedPosts = [...featuredPosts].splice(0, import.meta.env.FEATURED_COUNT)
---

<MainLayoutAstro>
	<section id="home-hero" class="section section-home-hero">
    <div class="wrapper section__wrapper mx-auto p-4 | flow">
      <h1
        class="section-hero-home__heading | text-6xl font-bold text-neutral-50 uppercase"
      >
        {title}
      </h1>
      <p
        class="section-hero-home__subheading | p-1 text-xl font-semibold text-neutral-50 bg-orange-500 uppercase shadow-md rounded-sm"
      >
        <span>{subtitle}</span>
      </p>
      <p
        class="section-hero-home__slogan text-xl font-semibold uppercase text-neutral-50"
      >
        {slogan}
      </p>
    </div>
    <!-- ./wrapper -->
  </section>

      {
        () => {
          const { title, draft } = skills
          if (!draft) {
            return (
              <section id="home-skills" class="section section-home-skills">
                <div class="wrapper section__wrapper mx-auto p-4 | flow">
                  <h2
                    class="section__heading | text-4xl text-neutral-50 text-bold text-center"
                  >
                    {title}
                  </h2>

                  <div class="skills mx-auto">
                    {skillPosts.map(({ frontmatter }: any, index: number) => {
                      const { title, className } = frontmatter

                      return (
                      <buttton class={`btn btn-skill ${className} | shadow-md`} data-element="btn-skill" data-target={`skill-dialog-${index}`}>{title}</buttton>
                      )
                    })}
                  </div>

                  <p class="text-neutral-200 text-center">
                    <strong class="text-neutral-50">Click on the buttons</strong> to learn more about these technologies.
                  </p>
                </div>
                <!-- ./wrapper -->
              </section>
            )
          }
        }
      }

      {
        () => {
          const { title, draft } = featured
          if (!draft) {
            return (
              <section id="home-featured" class="section section-home-featured">
                <div class="wrapper section__wrapper | mx-auto p-4 flow">
                  <h2 class="section__heading | text-4xl text-bold text-center">
                    {title}
                  </h2>

                  {selectedFeaturedPosts.map(({ frontmatter, url }: any) => {
                    const { title, description, category, images } = frontmatter
                    const { label, slug, categoryClass } = categories.filter(({ slug }: any) => slug === category)[0]
                    const image: ImageInterface = images[0]
                    return (
                      <>
                        <div class="card card-featured">
                          <img
                            src={`/screenshots/portfolio/${image.url}`}
                            alt={`${image.alt}`}
                            class="card__img | shadow"
                          />
                          <div class="card__body | shadow flow p-4">
                            <h3 class="card__body__heading | font-bold text-2xl">
                              {title}
                            </h3>

                            <p>
                              <a href={`portfolio/categories/${slug}/1`} class={`btn btn-skill ${categoryClass}`}>{label}</a>  
                            </p>

                            <p>{description}</p>

                            <p><a href={url}>Read more</a></p>
                          </div>
                          <!-- ./card__body -->
                        </div>
                        <!-- ./card -->
                      </>
                    )
                  })}
                </div>
                <!-- ./wrapper -->
              </section>
            )
          }
        }
      }

      {
        () => {
          const { title, draft, content } = talks
          if (!draft) {
            return (
              <section id="home-talks" class="section section-home-talks">
                <div class="wrapper section__wrapper | flow p-4 mx-auto">
                  <h2 class="section__heading | text-4xl text-bold text-center">
                    {title}
                  </h2>

                  <div class="cards-grid">
                    {content.map(({ label, link, image }: any) => (
                      <>
                        <div class="card card-talk">
                          <img
                            src={`/screenshots/talks/${image}`}
                            alt="Project Screenshot"
                            class="card__img"
                          />
                          <div class="card__overlay | flow">
                            <h3 class="card__overlay__heading">
                              <a href={link} target="_blank">{label}</a>
                            </h3>
                          </div>
                          <!-- ./card__overlay -->
                        </div>
                        <!-- ./card -->
                      </>
                    ))}
                  </div>
                  <!-- ./card-grid -->
                </div>
                <!-- ./wrapper -->
              </section>
            )
          }
        }
      }

      {
        () => {
          const { title, draft, content } = social
          if (!draft) {
            return (
              <section id="home-social" class="section section-home-social">
                  <div class="wrapper section__wrapper | mx-auto p-4 flow">
                    <h2 class="section__heading | text-4xl text-bold text-center">
                      {title}
                    </h2>

                    <div class="card-socials">
                      {content.map(({ label, link, icon, className }: any) => (
                        <>
                          <a
                            href={link}
                            target="_blank"
                            class={`card-social ${className}`}
                          >
                            <div class="card-social__icon card-social__icon">
                              <i class={`fa-brands ${icon}`}></i>
                            </div>
                            <p class="card-social__content">{label}</p>
                          </a>
                          <!-- ./card-social -->
                        </>
                      ))}
                    </div><!-- ./card-socials -->
                  </div><!-- ./wrapper  -->
                </section>
            )
          }
        }
      }
</MainLayoutAstro>