---
import dayjs from "dayjs"

import Main from "../layouts/main.astro"
import { sort, sortPostsDesc } from "./../utilities/helpers"

import * as resume from "../content/resume/main.md"
const { title, overview, skills, talks, hobbies } = resume.frontmatter

const experiencePosts = await Astro.glob('./../content/resume/experience/*.md')
const experiences = sortPostsDesc(experiencePosts.filter(post => !post.frontmatter.draft), "start")

const educationPosts = await Astro.glob('./../content/resume/education/*.md')
const education = sortPostsDesc(educationPosts.filter(post => !post.frontmatter.draft), "start")

const certificatesPosts = await Astro.glob('./../content/resume/certificates/*.md')
const certificates = sortPostsDesc(certificatesPosts.filter(post => !post.frontmatter.draft), "start")
---

<Main title="Resume">
    <section
        id="resume-hero"
        class="section section-half section-resume-hero"
      >
        <div class="wrapper section__wrapper | mx-auto p-4">
          <h1
            class="section-hero-home__heading | text-center text-4xl font-bold text-neutral-50"
          >
            {title}
          </h1>
        </div>
      </section>

      <section
        id="resume-content"
        class="section section-resume section-resume-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <!-- Objective -->
          {() => {
            const { title, draft, description, content } = overview
            if (!draft) {
              return (
                <>
                  <div class="flex items-center justify-between g-4">
                    <h2
                      id="resume-objective"
                      class="section-hero-resume__heading | text-4xl font-bold"
                    >
                      {title}
                    </h2>

                    <div>
                      <button
                        class="btn btn-print"
                        type="button"
                        data-element="btn-print"
                      >
                        <i class="fa-light fa-light fa-print"></i> Print
                      </button>
                    </div>
                  </div>

                  <div class="flow" style="--_flow-spacer: 0.5em">
                    {content.map(({ title, label, link, target }) => {
                      const targetAttr = target === `` ? `_self` : `${target}`
                      const aEl = link === `` ? label : (<a href={link} target={target}>{label}</a>)

                      return (
                      <p class="text-grid | text-sm">
                        <span class="text-grid__label | font-bold">{title}</span>
                        <span>{aEl}</span>
                      </p>
                      )
                    })}
                  </div>

                  <p class="text-sm">{description}</p>
                </>
              )
              
            }
          }}
          <!-- ./Objective -->

          <!-- Skills -->
          {() => {
            const { draft, title, content } = skills
            if (!draft) {
              return (
                <>
                  <h2
                    id="resume-skills"
                    class="section-hero-resume__heading | text-3xl font-bold"
                  >
                    {title}
                  </h2>

                  {content.map(({ label, value }) => {
                    return (
                      <>
                        <h3 class="font-bold">{label}</h3>
                        <p class="text-sm">{value}</p>
                      </>
                    )
                  })}
                </>
              )
            }
          }}
          <!-- ./Skills -->

          <!-- Experience -->
          <h2
            id="resume-experience"
            class="section-hero-resume__heading | text-3xl font-bold"
          >
            Experience
          </h2>

          {experiences.map(({ frontmatter, Content }) => {
            const { title, start, end, subtitle, position} = frontmatter
            const startDate = dayjs(start).format(`MMM YYYY`)
            const endDate = end.toLowerCase() === `present` ? end : dayjs(end).format(`MMM YYYY`)
            return (
              <>
                <div class="flow text-sm mt-5" style="--_flow-spacer: 0.5em">
                  <p class="text-grid text-sm">
                    <span class="text-grid__label | font-bold">Company:</span>
                    <span>{title}</span>
                  </p>

                  <p class="text-grid text-sm">
                    <span class="text-grid__label | font-bold">Period:</span>
                    <span>{startDate} &ndash; {endDate}</span>
                  </p>

                  <p class="text-grid text-sm">
                    <span class="text-grid__label | font-bold">Location:</span>
                    <span>{subtitle}</span>
                  </p>

                  <p class="text-grid text-sm">
                    <span class="text-grid__label | font-bold">Position:</span>
                    <span>{position}</span>
                  </p>

                  <Content />
                </div>
                <!-- ./flow -->
              </>
            )
          })}
          <!-- ./Experience -->

          <!-- Education -->
          <h2 id="resume-education" class="text-2xl font-bold">Education</h2>

          {education.map(({ frontmatter, Content }) => {
            const { title, start, end, subtitle } = frontmatter
            const startDate = dayjs(start).format(`MMM YYYY`)
            const endDate = end.toLowerCase() === `present` ? end : dayjs(end).format(`MMM YYYY`)

            return (
              <div class="flow text-sm mt-5"  style="--_flow-spacer: 0.5em">
                <p class="text-grid | text-sm">
                  <span class="text-grid__label | font-bold">Qualification:</span>
                  <span>{title}</span>
                </p>

                <p class="text-grid | text-sm">
                  <span class="text-grid__label | font-bold">Period:</span>
                  <span> {startDate} &ndash; {endDate} </span>
                </p>

                <p class="text-grid | text-sm">
                  <span class="text-grid__label | font-bold">Institiution:</span>
                  <span> {subtitle} </span>
                </p>

                <Content />
              </div>
            )
          })}
          <!-- ./Education -->

          <!-- Certificate -->
          <h2 id="resume-certificates" class="text-2xl font-bold">
            Certificates
          </h2>

          {certificates.map(({ frontmatter }) => {
            const { title, date, subtitle } = frontmatter
            const dateStr = dayjs(date).format(`MMM YYYY`)

            return (
              <div class="flow text-sm mt-5"  style="--_flow-spacer: 0.5em">
                <p class="text-grid | text-sm">
                  <span class="text-grid__label | font-bold">Certificate:</span>
                  <span>{ title }</span>
                </p>

                <p class="text-grid | text-sm">
                  <span class="text-grid__label | font-bold">Date:</span>
                  <span>{ date }</span>
                </p>

                <p class="text-grid | text-sm">
                  <span class="text-grid__label | font-bold">Institiution:</span>
                  <span>{ subtitle }</span>
                </p>  
              </div>
            )
          })}
          <!-- ./Certificates -->

          <!-- Talkes -->
          {
            () => {
              const { title, draft, content } = talks
              if (!draft) {
                return (
                <>
                  <h2 id="resume-talks" class="text-2xl font-bold">{title}</h2>

                  <ul class="list">
                    {content.map(({ label, link, target }) => {
                      const targetAttr = target === `` ? `_self` : `${target}`
                      return (
                        <li><a href={link} target={targetAttr}>{label}</a></li>
                      )
                    })}
                  </ul>
                </>
                )
              }
            }
          }
          
          <!-- ./Talkes -->

          <!-- Hobbies -->
          {() => {
            const { title, draft, content } = hobbies
            if (!draft) {
              return (
                <>
                  <h2 id="resume-hobbies" class="text-2xl font-bold">{title}</h2>

                  <ul class="list">
                    {content.map(({ label }) => <li>{label}</li>)}
                  </ul>
                </>
              )
            }
          }}
          
          <!-- ./Talks -->
        </div>
        <!-- ./wrapper -->
      </section>

      <div
        id="resume-end"
        class="section section-half section-resume section-resume-end"
      ></div>
</Main>