---
import { Image } from 'astro:assets'
import logo from "../assets/images/logo-svg.svg"

const homePath: string = `/`; //currentPath === `/` ? '/' : '../'
const portfolioPath: string = `/portfolio/1`
const articlesPath: string = `/articles`
const toolsPath: string = `https://davdevstools.netlify.app/`
const notebooksPath: string = `https://davinaleong.github.io/proj-jupyter-notebooks/`
const contactPath: string = `/contact`
const funnyPath: string = `/funny`
---
<header class="primary-header" data-element="primary-header">
    <div class="wrapper primary-header-wrapper mx-auto">
        <a href={homePath} class="btn btn-primary-header">
            <Image src={logo} alt="Dav/Devs Footer Logo" /> Dav/Devs
        </a>

        <nav class="primary-header__nav">
            <ul class="primary-header__ul">
                <li class="primary-header__li">
                    <a href={homePath} class="primary-header__link">Home</a>
                </li>
                <li class="primary-header__li" data-element="primary-header__dropdown">
                    <a href={portfolioPath} class="primary-header__link">
                        Tech <i class="fa-sharp fa-thin fa-chevron-down"></i>
                    </a>
                    <ul class="primary-header__li__ul">
                        <li class="primary-header__li">
                            <a href={portfolioPath} class="primary-header__link">Portfolio</a>
                        </li>
                        <li class="primary-header__li">
                            <a href={articlesPath} class="primary-header__link">Articles</a>
                        </li>
                        <li class="primary-header__li">
                            <a href="https://davdevs-fem.netlify.app/" class="primary-header__link" title="Frontend Mentor Demos" target="_blank">FEM  Demos</a>
                        </li>
                    </ul>
                </li>
                <li class="primary-header__li">
                    <a href={toolsPath} class="primary-header__link">Tools</a>
                </li>
                <li class="primary-header__li">
                    <a href={notebooksPath} class="primary-header__link">Python</a>
                </li>
                <li class="primary-header__li">
                    <a href={contactPath} class="primary-header__link">Contact</a>
                </li>
                <li class="primary-header__li">
                    <a href={funnyPath} class="primary-header__link">Funny</a>
                </li>
            </ul>
        </nav>

        <button
            type="button"
            class="btn btn-primary-header"
            data-element="primary-header__menu">
                <i class="fa-thin fa-sharp fa-bars"></i>
                <span class="sr-only">Menu</span>
        </button>
    </div>

    <button
        type="button"
        class="btn btn-primary-header"
        data-element="primary-header__close">
            <i class="fa-thin fa-sharp fa-xmark"></i>
            <span class="sr-only">Close</span>
    </button>
</header>