---
import { Image } from 'astro:assets'
import logo from "../assets/images/logo-white-svg.svg"

const year: number = 2019
const now = new Date()
const nowYear: number = Number(now.getFullYear())
const strYear: string = year === nowYear ? `${year}` : `${year} &ndash; ${nowYear}`

const currentPath: string = Astro.url.pathname
const homePath: string = currentPath === `/` ? '/' : '../'
const portfolioPath: string = currentPath === `/` ? 'portfolio/' : '../portfolio/'
const articlesPath: string = currentPath === `/` ? 'articles/' : '../articles/'
const resumePath: string = currentPath === `/` ? 'resume/' : '../resume/'
const contactPath: string = currentPath === `/` ? 'contact/' : '../contact/'
const funnyPath: string = currentPath === `/` ? 'funny/' : '../funny/'
const privacyPolicyPath: string = currentPath === `/` ? 'privacy-policy/' : '../privacy-policy/'
---
<footer class="primary-footer" data-element="primary-footer">
  <div class="wrapper mx-auto">
    <div class="primary-footer__top">
      <div class="primary-footer__top__col | flow">
        <a href={homePath} class="btn btn-primary-footer">
          <Image
            src={logo}
            alt="Dav/Devs footer logo"
          />
          <div>Dav/Devs</div>
        </a>
      </div>
      <div class="primary-footer__top__col | flow">
        <h2 class="primary-footer__heading">Pages</h2>
        <ul class="primary-footer__list">
          <li><a href={`${homePath}`}>Home</a></li>
          <li><a href={`${portfolioPath}`}>Portfolio</a></li>
          <li><a href="https://davdevs-fem.netlify.app/" target="_blank" title="Frontend Mentor Demos">FEM Demos</a></li>
          <li><a href={`${articlesPath}`}>Articles</a></li>
          <li><a href={`${resumePath}`}>Resume</a></li>
          <li><a href={`${contactPath}`}>Contact</a></li>
          <li><a href={`${funnyPath}`}>Funny</a></li>
          <li><a href={`${privacyPolicyPath}`}>Privacy Policy</a></li>
        </ul>
      </div>
      <div class="primary-footer__top__col | flow">
        <h2 class="primary-footer__heading">Home</h2>
        <ul class="primary-footer__list">
          <li><a href={`${homePath}#home-skills`}>Skills</a></li>
          <li><a href={`${homePath}#home-featured`}>Featured Projects</a></li>
          <li><a href={`${homePath}#home-talks`}>Talks</a></li>
          <li><a href={`${homePath}#home-social`}>Social</a></li>
        </ul>
      </div>
      <div class="primary-footer__top__col | flow">
        <h2 class="primary-footer__heading">Resume</h2>
        <ul class="primary-footer__list">
          <li><a href={`${resumePath}#resume-objective`}>Objective</a></li>
          <li><a href={`${resumePath}#resume-skills`}>Skils</a></li>
          <li><a href={`${resumePath}#resume-experience`}>Experience</a></li>
          <li><a href={`${resumePath}#resume-education`}>Education</a></li>
          <li><a href={`${resumePath}#resume-certificates`}>Certificates</a></li>
          <li><a href={`${resumePath}#resume-talks`}>Talks</a></li>
          <li><a href={`${resumePath}#resume-hobbies`}>Hobbies</a></li>
          <li><a href={`${resumePath}#resume-testimonials`}>Testimonials</a></li>
        </ul>
      </div>
      <div class="primary-footer__top__col | flow">
        <h2 class="primary-footer__heading">Social</h2>
        <ul class="primary-footer__list">
          <li><a href="https://www.linkedin.com/in/davina-leong-s9115675g/" target="_blank">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/davinaleong/" target="_blank">Instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UCh-C6LhCRyVxlzdFc4WCrDw" target="_blank">YouTube</a></li>
          <li><a href="https://github.com/davinaleong" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="primary-footer__bottom">
      <p class="text-center text-sm">
        Dav/Devs &copy; Davina Leong, {strYear}.
      </p>
    </div>
  </div>    
</footer>