---
import "./../styles/app.scss"
import favicon from "./../assets/images/logo-svg.svg"

import PrimaryHeaderComponentAstro from "../components/primary-header.component.astro"
import PrimaryFooterComponentAstro from "../components/primary-footer.component.astro"
import SkillDialogsComponentAstro from "../components/skill-dialogs.component.astro"
import CookieDialogComponentAstro from "../components/cookie-dialog.component.astro"

const { PUBLIC_APP_NAME, AUTHOR } = import.meta.env

const { title = ``, description = '', keywords = '' } = Astro.props
const theTitle: string = title === `` ? PUBLIC_APP_NAME : `${PUBLIC_APP_NAME} - ${title}`

const currentPath: string = Astro.url.pathname
const home: boolean = currentPath === `/`
---
<html lang="en">
	<head>
    <!-- Google Tag Manager -->
    <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KNBZ8K3X');</script>
      <!-- End Google Tag Manager -->

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="author" content={AUTHOR}/>
    <meta name="description" content={description}/>
    <meta name="keywords" content={keywords}/>

    <meta property="og:title" content="Dav/Devs - Full-Stack Web Developer Portfolio" />
    <meta property="og:description" content="Explore a full-stack web developer's portfolio showcasing a diverse skill set, featured projects, and knowledge sharing. Connect on social media for collaboration and insights." />
    <meta property="og:image" content={favicon.src} />
    <meta property="og:url" content="www.davina-devs.com" />

		<link rel="icon" type="image/png" href={favicon.src} />

		<title>{theTitle}</title>

    <script is:inline src="/scripts/app.js"></script>
		<script is:inline src="https://kit.fontawesome.com/1b82ea5cb2.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNBZ8K3X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

		<PrimaryHeaderComponentAstro />

    <main class="primary-main container-q container-q-primary-main">
        <button class="btn btn-theme" type="button" data-element="btn-theme">
          <span class="btn-theme__label btn-theme__label-light">
            <i class="fa-light fa-sharp fa-lightbulb-on"></i>
            <span class="btn-theme__label__text">Light</span>
          </span>
          <span class="btn-theme__label btn-theme__label-dark">
            <i class="fa-light fa-sharp fa-lightbulb-slash"></i>
            <span class="btn-theme__label__text">Dark</span>
          </span>
        </button>

        <slot />
    </main>

    <PrimaryFooterComponentAstro />

    {home && <SkillDialogsComponentAstro />}

    {home && <CookieDialogComponentAstro />}
    </dialog>
	</body>
</html>