---
import MainLayoutAstro from "./main.layout.astro"
import PaginationComponentAstro from "../components/pagination.component.astro"

import * as portfolio from "../content/portfolio/main.md"
const { title, categories } = portfolio.frontmatter

const {
  page,
  category,
  categoriesRoute = "categories/"
} = Astro.props

const publishedCategories: any = categories.filter(({ draft }: any ) => draft === 0)
let paginationRoute: string = "/portfolio/"
let selectedCategory: any = null
if (category) {
  selectedCategory = categories.filter(({ slug }: any) => slug === category)[0]
  paginationRoute += `categories/${category}/`
}
---
<MainLayoutAstro title={title}>
  <section
    id="portfolio-hero"
    class="section section-portfolio section-portfolio-hero"
  >
    <div class="wrapper section__wrapper mx-auto p-4 | flow">
      <h1
        class="section-hero-home__heading | text-5xl font-bold text-neutral-50 uppercase"
      >
        {title}
      </h1>
    </div>
    <!-- ./wrapper -->
  </section>

  <section
    id="portfolio-projects"
    class="section section-portfolio section-portfolio-projects"
  >
    <div class="wrapper section__wrapper | mx-auto p-4 flow">
      <nav class="filters">
        <a href={`${categoriesRoute}`}class="btn btn-skill btn-skill-all" data-active={`${selectedCategory === null}`}>All</a>
        {publishedCategories.map(({ label, slug, categoryClass }: any) => {
          const active: string = `${(selectedCategory !== null && selectedCategory.slug === slug)}`
          return (<a href={`${categoriesRoute}${slug}/1`} class={`btn btn-skill ${categoryClass}`} data-active={active}>{label}</a>)
        })}
      </nav>

      <div class="cards-grid">
        {page.data.map((item: any) => {
          const { title, category, images } = item.frontmatter
          const { label, categoryClass }: any = categories.filter(({ slug }: any) => slug === category)[0]
          const image = images.length > 0 ? images[0] : null

          return (
            <>
              <div class="card">
                <img
                  src={`/screenshots/portfolio/${image.url}`}
                  alt={image.alt}
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href={item.url}>{title}</a>
                    </h3>
                    <span class={`btn btn-skill ${categoryClass} text-sm`}>{label}</span>
                  </header>
                </div>
                <!-- ./card__overlay -->
              </div>
              <!-- ./card -->
            </>
          )
        })}
      </div>
      <!-- ./card-grid -->

      <PaginationComponentAstro page={page} paginationRoute={paginationRoute}/>
    </div>
    <!-- ./wrapper -->
  </section>

  <div
    id="portfolio-end"
    class="section section-portfolio section-portfolio-end"
  ></div>
</MainLayoutAstro>