---
import MainLayoutAstro from "./main.layout.astro"

import * as portfolio from "../content/portfolio/main.md"
const { title, categories } = portfolio.frontmatter

const {
  page,
  category,
  portfolioRoute = "/1/",
  categoriesRoute = "categories/"
} = Astro.props

const publishedCategories: any = categories.filter(({ draft }: any ) => draft === 0)
let paginationRoute: string = "/portfolio/"
let selectedCategory: any = null
if (category) {
  selectedCategory = categories.filter((cat: any) => cat.slug === category)[0]
  paginationRoute += `categories/${category}/`
}
---
<MainLayoutAstro title={title}>
    <section
        id="portfolio-hero"
        class="section section-portfolio section-portfolio-hero"
      >
        <div class="wrapper section__wrapper mx-auto p-4 | flow">
          <h1
            class="section-hero-home__heading | text-5xl font-bold text-neutral-50 uppercase"
          >
            {title}
          </h1>
        </div>
        <!-- ./wrapper -->
      </section>

      <section
        id="portfolio-projects"
        class="section section-portfolio section-portfolio-projects"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <nav class="filters">
            <a href="./" class="btn btn-skill btn-skill-all">All</a>
            {publishedCategories.map(({ label, slug, categoryClass }: any) => <a href={`./${slug}/1`} class={`btn btn-skill ${categoryClass}`}>{label}</a>)}
          </nav>

          <div class="cards-grid">
            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->

            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow mx-auto">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->
            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->

            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow mx-auto">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->
            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->

            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow mx-auto">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->
            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->

            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow mx-auto">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->
            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->

            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow mx-auto">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->
            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->

            <div class="card">
              <img
                src="/src/assets/images/project.png"
                alt="Project Screenshot"
                class="card__img"
              />
              <div class="card__overlay | flow mx-auto">
                <header class="card__overlay__header">
                  <h3 class="card__overlay__heading">
                    <a href="project/">Project Title</a>
                  </h3>
                  <span class="btn btn-skill btn-skill-html text-sm">HTML</span>
                </header>
              </div>
              <!-- ./card__overlay -->
            </div>
            <!-- ./card -->
          </div>
          <!-- ./card-grid -->

          <nav class="pagination">
            <a href="#" class="pagination__link">1</a>
            <span class="pagination__item">&hellip;</span>
            <a href="#" class="pagination__link">3</a>
            <a href="#" class="pagination__link" data-active="true">4</a>
            <a href="#" class="pagination__link">5</a>
            <span class="pagination__item">&hellip;</span>
            <a href="#" class="pagination__link">7</a>
          </nav>
        </div>
        <!-- ./wrapper -->
      </section>

      <div
        id="portfolio-end"
        class="section section-portfolio section-portfolio-end"
      ></div>
</MainLayoutAstro>